.item-card-wrapper {
  display: flex;
  flex-flow: column;
}

.card-box {
  position: relative;
  width: 100%;
  height: 300px;
}

.card-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-box-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.card-title-wrapper {
  text-decoration: none;
}

.card-title {
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  font-weight: 600;
  font-size: 24px;
}

.card-title.coming-soon {
  color: #f9c12d;
}
